@model Reservation_vols_version2_withEF.Models.Ticket

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Isconfirmed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Isconfirmed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Client)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Client.Clientid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Flight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Flight.Flightid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Passenger)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Passenger.Clientid)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Ticketid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
