@model IEnumerable<Reservation_vols_version2_withEF.Models.Ticket>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table sortable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Isconfirmed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Passenger)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Isconfirmed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client.Clientid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Flight.Flightid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Passenger.Clientid)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Ticketid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Ticketid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Ticketid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
